<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:replace="~{layout/main :: content}">

<section>
    <h2>Members</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>NRP</th>
            <th>Nama</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${members}">
            <td th:text="${m.nrp}"></td>
            <td th:text="${m.fullName}"></td>
            <td th:text="${m.email}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
