<!doctype html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">

<head>
    <title>User Detail</title>
</head>

<body>
<section layout:fragment="content">

    <div class="container mt-4">

        <h3 th:text="
            ${self} ? 'My Profile' :
            (${mode == 'view'} ? 'User Detail' :
            (${mode == 'update'} ? 'Edit User' :
            'Create User'))">
        </h3>
        <div th:if="${success}"
             class="alert alert-success alert-dismissible fade show"
             role="alert">
            <span th:text="${success}"></span>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"></button>
        </div>

        <p class="text-muted">User information</p>

        <div class="card shadow-sm">
            <div class="card-body">
                <form th:action="
                    ${mode == 'add'} ?
                        @{/users/add} :
                        @{/users/{id}/edit(id=${user.id})}"
                      th:object="${user}"
                      method="post">

                    <!-- USERNAME -->
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input class="form-control"
                               th:field="*{username}"
                               th:readonly="${mode == 'view' || mode == 'edit'}" />
                    </div>

                    <!-- EMAIL -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               th:field="*{email}"
                               th:readonly="${mode == 'view'}" />
                    </div>

                    <!-- PASSWORD (ONLY CREATE) -->
                    <div class="mb-3" th:if="${mode == 'add'}">
                        <label class="form-label">Password</label>
                        <input type="password"
                               class="form-control"
                               th:field="*{password}" />
                    </div>

                    <!-- ROLE (ADMIN ONLY) -->
                    <div class="mb-3" th:if="${!self}">
                        <label class="form-label">Role</label>
                        <select class="form-select"
                                th:field="*{role}"
                                th:disabled="${mode == 'view'}">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </div>

                    <!-- BUTTONS -->
                    <div th:if="${mode == 'view'}" class="d-flex justify-content-between">
                        <!-- MY PROFILE -->
                        <a th:if="${self}"
                           th:href="@{/users/me/edit}"
                           class="btn btn-primary">
                            Edit Profile
                        </a>
                        <!-- ADMIN VIEW -->
                        <a th:if="${!self}"
                           th:href="@{/users/{id}/edit(id=${user.id})}"
                           class="btn btn-primary">
                            Edit
                        </a>
                        <a th:href="${self} ? '/' : '/users'"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                    <div th:if="${mode == 'edit' || mode == 'add'}">

                        <button type="submit" class="btn btn-success">
                            Save
                        </button>

                        <a th:href="${mode == 'add'} ? '/users' :
                                (${self} ? '/users/me' :
                                '/users/' + ${user.id})"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>
