<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="listHeader(titleKey, actionUrl, pageSize, keyword, success)">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-2">

        <!-- TITLE -->
        <h5 class="fw-semibold mb-0"
            th:text="#{${titleKey}}">
        </h5>

        <!-- SEARCH -->
        <form th:action="@{${actionUrl}}" method="get" class="d-flex">

            <input type="hidden" name="page" value="0"/>
            <input type="hidden" name="size" th:value="${pageSize}"/>

            <div class="input-group input-group-sm search-box" style="width:320px;">

                <input type="text"
                       name="keyword"
                       th:value="${keyword}"
                       class="form-control"
                       th:placeholder="#{search.placeholder}">

                <button type="submit"
                        class="input-group-text bg-white">
                    <i class="fa fa-search text-muted"></i>
                </button>

            </div>

        </form>

    </div>

    <!-- ALERT -->
    <div th:if="${success}"
         class="alert alert-success alert-dismissible fade show shadow-sm"
         role="alert">

        <span th:text="${success}"></span>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert">
        </button>

    </div>

</div>

</body>
</html>