<!doctype html>
<html lang="id" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}"> <!--/fragments/layouts/-->
<head>
    <title>Daftar Alumni</title>
</head>
<body>

<section layout:fragment="content">
    <h2>Members</h2>

    <div class="card shadow-sm mt-3">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Daftar Anggota C0F</h4>
        </div>

        <div class="card-body">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                <tr>
                    <th>NRP</th>
                    <th>Nama</th>
                    <th>Phone Number</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="m : ${members}">
                    <td th:text="${m.nrp}"></td>
                    <td th:text="${m.fullName}"></td>
                    <td th:text="${m.phoneNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>