#footer{
    background-color: rgba(13,110,253);
    /*background-color: rgba(52,89,230);*/
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px;
}
.navbar-nav > li > .dropdown-menu { background-color: rgba(13,110,253); }
.logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('/images/logo-jhipster.png') no-repeat center center;
    background-size: contain;
}
.hipster {
    display: inline-block;
    width: 287px;
    height: 437px;
    /*width: 347px;
    height: 497px;
     */
    background: url('/images/c0f-25th.png') no-repeat center top;
    background-size: contain;
}
.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.center {
    text-align: center;
}