<!doctype html>
<html lang="id" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-4"></div>

<div class="col-lg-4 container mt-5 text-center">
    <h1 th:text="${statusCode}"></h1>

    <h3 th:text="|${statusCode} - ${errorMessage}|"></h3>

    <p th:text="${errorMessage}"></p>

    <!-- BUTTON 401,403 -->
    <a th:if="${#lists.contains({401,403}, statusCode)}" th:href="@{/login}" class="btn btn-primary mt-3">
        To Login Page
    </a>

    <!-- BUTTON OTHER ERROR -->
    <a th:if="${!#lists.contains({401,403}, statusCode)}" th:href="@{/}" class="btn btn-primary mt-3">
        Back to Home
    </a>
</div>
        <div class="col-lg-4"></div>
    </div>
</section>
</body>
</html>
