<!doctype html>
<html lang="id" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <!--<p th:if="${loginError}" class="error">Wrong username or password</p>-->
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <h1>Login</h1>
                    <div>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required autofocus="autofocus" />
                        <!--<input type="text" th:field="*{username}" class="form-control" id="username" name="username" required>-->
                    </div>
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                        <!--<input type="password" th:field="*{password}" class="form-control" id="password" name="password" required>-->
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                        <button type="button" class="btn btn-link">Forgot Password</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</section>
</body>
</html>