<!doctype html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">

<head>
    <title>Category Detail</title>
</head>

<body>
<section layout:fragment="content">

    <div class="container mt-4">

        <h3 th:text="
            (${mode == 'view'} ? 'Category Detail' :
            (${mode == 'update'} ? 'Edit Category' :
            'Create Category'))">
        </h3>
        <div th:if="${success}"
             class="alert alert-success alert-dismissible fade show"
             role="alert">
            <span th:text="${success}"></span>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"></button>
        </div>

        <p class="text-muted">Category Information</p>

        <div class="card shadow-sm">
            <div class="card-body">
                <form th:action="
                    ${mode == 'add'} ?
                        @{/categories/add} :
                        @{/categories/{id}/edit(id=${category.id})}"
                      th:object="${category}"
                      method="post">

                    <div class="mb-3">
                        <label class="form-label">Merchant</label>
                        <select class="form-select"
                                th:field="*{merchantId}"
                                th:disabled="${mode == 'view'}">
                            <option value="">-- Select Merchant --</option>
                            <option th:each="m : ${merchants}"
                                    th:value="${m.id}"
                                    th:text="${m.name}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category Name</label>
                        <input class="form-control"
                               th:field="*{name}"
                               th:readonly="${mode == 'view'}" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input class="form-control"
                               th:field="*{description}"
                               th:readonly="${mode == 'view'}" />
                    </div>

                    <!-- BUTTONS -->
                    <div th:if="${mode == 'view'}" class="d-flex justify-content-between">
                        <!-- ADMIN VIEW -->
                        <a th:if="${role == 'ADMIN'}"
                           th:href="@{/categories/{id}/edit(id=${category.id})}"
                           class="btn btn-premium">
                            Edit
                        </a>
                        <a th:href="@{/categories}"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                    <div th:if="${mode == 'edit' || mode == 'add'}">

                        <button type="submit" class="btn btn-success">
                            Save
                        </button>

                        <a th:href="${mode == 'add'} ? '/categories' :
                                ('/categories/' + ${category.id})"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>
