<!doctype html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">

<head>
    <title class="fw-semibold" th:text="(${mode == 'view'} ? #{category.detail} :
                             (${mode == 'edit'} ? #{category.edit} :
                              #{category.add}))"></title>
</head>

<body>

<section layout:fragment="content">
    <div class="container py-4">
        <!-- TITLE -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <h4 class="fw-semibold mb-3"
                    th:text="(${mode == 'view'} ? #{category.detail} :
                             (${mode == 'edit'} ? #{category.edit} :
                              #{category.add}))">
                </h4>

                <form th:action="
                                ${mode == 'add'} ?
                                    @{/categories/add} :
                                    @{/categories/{id}/edit(id=${category.id})}"
                      th:object="${category}"
                      method="post">

                    <!-- CARD -->
                    <div class="card shadow-sm border-0">
                        <div class="card-body p-4">
                            <div class="mb-3">
                                <label class="form-label">Merchant</label>
                                <select class="form-select"
                                        th:field="*{merchantId}"
                                        th:disabled="${mode == 'view'}">
                                    <option value="">-- Select Merchant --</option>
                                    <option th:each="m : ${merchants}"
                                            th:value="${m.id}"
                                            th:text="${m.name}">
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category Name</label>
                                <input class="form-control"
                                       th:field="*{name}"
                                       th:readonly="${mode == 'view'}" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input class="form-control"
                                       th:field="*{description}"
                                       th:readonly="${mode == 'view'}" />
                            </div>

                            <div th:replace="~{fragments/form-actions :: formActions(
                                    ${mode},
                                    '/categories/' + ${category.id} + '/edit',
                                    '/categories/' + ${category.id} + '/delete',
                                    '/categories',
                                    ${role == 'ADMIN'},
                                    ${role == 'ADMIN'}
                            )}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
