<!doctype html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<head>
    <title class="fw-semibold" th:text="#{category.title}"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="container pt-1">
        <div th:replace="~{fragments/list-header :: listHeader(
                'category.title',
                '/categories',
                ${pageSize},
                ${keyword},
                ${success}
        )}"></div>

        <!-- Card -->
        <div class="card shadow-sm border-0">
            <div class="card-body rounded-3 pt-2 pb-3">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                        <tr>
                            <th class="fw-semibold text-secondary" th:text="#{category.merchantName}"></th>
                            <th class="fw-semibold text-secondary" th:text="#{category.name}"></th>
                            <th class="text-end fw-semibold text-secondary" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.merchantName}"></td>
                            <td th:text="${category.name}"></td>
                            <td class="text-end">
                                <div th:replace="~{fragments/table-actions :: tableActions(
                                    '/categories/' + ${category.id},
                                    '/categories/' + ${category.id} + '/edit',
                                    '/categories/' + ${category.id} + '/delete',
                                    ${role == 'ADMIN' or role == 'MERCHANT_OWNER'},
                                    ${role == 'ADMIN' or role == 'MERCHANT_OWNER'}
                                    )}">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{fragments/list-toolbar :: listToolbar(
                    '/categories',
                    ${currentPage},
                    ${totalPages},
                    ${pageSize},
                    ${totalElements},
                    ${role == 'ADMIN'},
                    '/categories/add',
                    #{category.add},
                    ${keyword}
                    )}">
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
