<!doctype html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">

<head>
    <title class="fw-semibold" th:text="(${mode == 'view'} ? #{merchant.detail} :
                             (${mode == 'edit'} ? #{merchant.edit} :
                              #{merchant.add}))"></title>
</head>

<body>

<section layout:fragment="content">
    <div class="container py-4">
        <!-- TITLE -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <h4 class="fw-semibold mb-3"
                    th:text="(${mode == 'view'} ? #{merchant.detail} :
                             (${mode == 'edit'} ? #{merchant.edit} :
                              #{merchant.add}))">
                </h4>

                <form th:action="
                                ${mode == 'add'} ?
                                    @{/merchants/add} :
                                    @{/merchants/{id}/edit(id=${merchant.id})}"
                      th:object="${merchant}"
                      method="post">

                    <!-- CARD -->
                    <div class="card shadow-sm border-0">
                        <div class="card-body p-4">

                            <!-- OWNER -->
                            <div class="mb-3">
                                <label class="form-label fw-medium text-secondary"
                                       th:text="#{merchant.owner}"></label>

                                <select class="form-select"
                                        th:field="*{ownerId}"
                                        th:disabled="${mode == 'view'}">

                                    <option value=""
                                            th:text="#{select.owner}">
                                    </option>

                                    <option th:each="user : ${merchantOwners}"
                                            th:value="${user.id}"
                                            th:text="${user.fullName}">
                                    </option>
                                </select>

                                <div th:if="${#fields.hasErrors('ownerId')}"
                                     th:errors="*{ownerId}"
                                     class="text-danger small mt-1">
                                </div>
                            </div>

                            <!-- NAME -->
                            <div class="mb-4">
                                <label class="form-label fw-medium text-secondary"
                                       th:text="#{merchant.name}"></label>

                                <input class="form-control"
                                       th:field="*{name}"
                                       th:readonly="${mode == 'view'}"/>

                                <div th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"
                                     class="text-danger small mt-1">
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" th:text="#{status}"></label>
                                <select class="form-select"
                                        th:field="*{status}"
                                        th:disabled="${mode == 'view'}">
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                </select>
                            </div>

                            <div th:replace="~{fragments/form-actions :: formActions(
                                    ${mode},
                                    '/merchants/' + ${merchant.id} + '/edit',
                                    '/merchants/' + ${merchant.id} + '/delete',
                                    '/merchants',
                                    ${role == 'ADMIN'},
                                    ${role == 'ADMIN'}
                            )}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
