<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<head>
    <title class="fw-semibold" th:text="#{merchant.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container pt-1">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-1">

            <h5 class="fw-semibold mb-0" th:text="#{merchant.title}"></h5>

            <form th:action="@{/merchants}" method="get" class="d-flex">
                <div class="input-group input-group-sm" style="width: 260px;">
                    <input type="text"
                           name="keyword"
                           th:value="${param.keyword}"
                           class="form-control"
                           th:placeholder="#{search.placeholder}">

                    <button type="submit"
                            class="input-group-text bg-white"
                            style="cursor:pointer;">
                        <i class="fa fa-search text-muted"></i>
                    </button>
                </div>
            </form>

        </div>

        <!-- Alert -->
        <div th:if="${success}"
             class="alert alert-success alert-dismissible fade show shadow-sm"
             role="alert">
            <span th:text="${success}"></span>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"></button>
        </div>
        <!-- Card -->
        <div class="card shadow-sm border-0">
            <div class="card-body rounded-3 pt-2 pb-3">

                <table class="table table-hover align-middle mb-0">
                    <thead class="table-light">
                    <tr>
                        <th class="fw-semibold text-secondary" th:text="#{merchant.owner}"></th>
                        <th class="fw-semibold text-secondary" th:text="#{merchant.name}"></th>
                        <th class="text-end fw-semibold text-secondary" th:text="#{action}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="m : ${merchants}">
                        <td th:text="${m.ownerName}"></td>
                        <td th:text="${m.name}"></td>
                        <td class="text-end">
                            <!-- LIHAT -->
                            <a th:href="@{/merchants/{id}(id=${m.id})}"
                               class="btn btn-sm btn-outline-secondary btn-table-action me-1"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               th:title="#{view}">
                                <i class="fa fa-eye"></i>
                            </a>

                            <!-- UBAH -->
                            <a th:if="${role == 'ADMIN'}"
                               th:href="@{/merchants/{id}/edit(id=${m.id})}"
                               class="btn btn-sm btn-outline-primary btn-table-action me-1"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               th:title="#{edit}">
                                <i class="fa fa-pen"></i>
                            </a>

                            <!-- HAPUS -->
                            <a th:if="${role == 'ADMIN'}"
                               th:href="@{/merchants/{id}/delete(id=${m.id})}"
                               class="btn btn-sm btn-outline-danger btn-table-action"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               th:title="#{delete}"
                               onclick="return confirm('Yakin ingin menghapus data ini?');">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:replace="fragments/list-toolbar :: listToolbar(
                    '/merchants',
                    ${currentPage},
                    ${totalPages},
                    ${pageSize},
                    ${totalElements},
                    ${role == 'ADMIN'},
                    '/merchants/add',
                    #{merchant.add}
                    )">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
