<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base_layout}">
<head>
    <title class="fw-semibold" th:text="#{merchant.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container pt-1">
        <div th:replace="~{fragments/list-header :: listHeader(
                'merchant.title',
                '/merchants',
                ${pageSize},
                ${keyword},
                ${success}
        )}"></div>

        <!-- Card -->
        <div class="card shadow-sm border-0">
            <div class="card-body rounded-3 pt-2 pb-3">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                        <tr>
                            <th class="fw-semibold text-secondary" th:text="#{merchant.owner}"></th>
                            <th class="fw-semibold text-secondary" th:text="#{merchant.name}"></th>
                            <th class="text-end fw-semibold text-secondary" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="m : ${merchants}">
                            <td th:text="${m.ownerName}"></td>
                            <td th:text="${m.name}"></td>
                            <td class="text-end">
                                <div th:replace="~{fragments/table-actions :: tableActions(
                                    '/merchants/' + ${m.id},
                                    '/merchants/' + ${m.id} + '/edit',
                                    '/merchants/' + ${m.id} + '/delete',
                                    ${role == 'ADMIN'},
                                    ${role == 'ADMIN'}
                                    )}">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{fragments/list-toolbar :: listToolbar(
                    '/merchants',
                    ${currentPage},
                    ${totalPages},
                    ${pageSize},
                    ${totalElements},
                    ${role == 'ADMIN'},
                    '/merchants/add',
                    #{merchant.add},
                    ${keyword}
                    )}">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
